:root {
  --white: #FFFFFF;
  --purple: #767EEA;
  --blue: #4DA4DA;
  --green: #23CACA;
  --black: #03001E;
  --gray-light: #BDBCC9;
  --gray-dark: #6A6971;
  --liner: gradient(180deg, #23CACA 0%, #767EEA 100%);
  --mirror: rgba(250, 250, 250, 0.16);

  --cards-shadow: inset 0px -2px 13px rgba(0, 0, 0, 0.25);

  --ff: PS;

  --fs-b: 18px;
  --fs-h2: 24px;
  --fs-h1: 48px;

}

@font-face {
  font-family: "PS";
  src: url("./resources/font/ProximaSoft-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PS-l";
  src: url("./resources/font/ProximaSoft-Thin.ttf") format("truetype");
}


::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

h{
  font-size: 250px;
}

h1 {
  font-size: 40px ;
  line-height: 0.6;
  margin-bottom: 1rem;
  hyphens: auto;
}
p {
  bottom: 10vw;
  right: 10vw;
  width: 292px;
  line-height: 1.5;
}
h2{
  font-size: var(--fs-h1);
  font-family: "PS-l";
  line-height: 0.1;
  font-weight: 300;
}

a{
  color: var(--white);
  text-decoration-color: transparent;

}
ul{

  padding-inline-start: 0px;
}
li{
  list-style-type: none;
}

span{
font-size: 16px;
line-height: 160%;
letter-spacing: 0.03em;
}

@media (max-width: 320px) {

}


@media (min-width: 1400px) {
  
}
@media (min-width: 1400px) {

  h2 {
    font-size: 2rem;
    max-width: 300px;
  }

}


html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Proxima Soft";
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  opacity: 1;
  background-color: #000A26;
  font-family: PS;
  color: var(--white);
}
