.item-web {
    margin-top: 120px;
    height: 624px;
}

.product-name {
    margin-left: 24%;
    position: relative;
    display: grid;
    margin-bottom: -24px;
}

.container {
    margin-top: -116px;
    width: fit-content;
    height: calc(103vw);
    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(50vh);
}

.content-p{
    margin-top: 500px;

}
.child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    transform: rotate(90deg);
    background: rgba(250, 250, 250, 0.16);
    box-shadow: inset 0px -2px 13px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    margin: 64px 0px;
    border-radius: 16px;
}


.child-text {
    flex-direction: column;
    margin-right: 16px;
}

.container::-webkit-scrollbar {
    display: none;
}